
.diamond {
  line-height: 1;
  &::after {
    content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.0026 1.3335L1.33594 5.3335L8.0026 14.6668L14.6693 5.3335L12.0026 1.3335H4.0026Z" fill="black"/%3E%3C/svg%3E');
    margin-left: 4px;
  }
}
  
.jetton {
  &::after {
    content: url('data:image/svg+xml,%3Csvg style="min-width: 24px" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="13.5" cy="12.5" r="7" stroke="black"/%3E%3Cpath d="M6.39241 6.5C4.35958 7.7249 3 9.95367 3 12.5C3 15.0463 4.35958 17.2751 6.39241 18.5" stroke="black" stroke-linecap="round"/%3E%3C/svg%3E');
    margin-left: 4px;
  }
}
  
.empty-image {
  content: url('data:image/svg+xml,%3Csvg height="32" fill="black" viewBox="-32 -32 96 96" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m30 3.4141-1.4141-1.4141-26.5859 26.5859 1.4141 1.4141 2-2h20.5859a2.0027 2.0027 0 0 0 2-2v-20.5859zm-4 22.5859h-18.5859l7.7929-7.793 2.3788 2.3787a2 2 0 0 0 2.8284 0l1.5858-1.5857 4 3.9973zm0-5.8318-2.5858-2.5859a2 2 0 0 0 -2.8284 0l-1.5858 1.5859-2.377-2.3771 9.377-9.377z"/%3E%3Cpath d="m6 22v-3l5-4.9966 1.3733 1.3733 1.4159-1.416-1.375-1.375a2 2 0 0 0 -2.8284 0l-3.5858 3.5859v-10.1716h16v-2h-16a2.002 2.002 0 0 0 -2 2v16z"/%3E%3Cpath d="m0 0h32v32h-32z" fill="none"/%3E%3C/svg%3E');
}

.filter-icon {
  &::before {
    content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.5 8C3.5 7.72386 3.72386 7.5 4 7.5H12C12.2761 7.5 12.5 7.72386 12.5 8C12.5 8.27614 12.2761 8.5 12 8.5H4C3.72386 8.5 3.5 8.27614 3.5 8Z" fill="black"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 4.72386 1.22386 4.5 1.5 4.5H14.5C14.7761 4.5 15 4.72386 15 5C15 5.27614 14.7761 5.5 14.5 5.5H1.5C1.22386 5.5 1 5.27614 1 5Z" fill="black"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6 11C6 10.7239 6.22386 10.5 6.5 10.5H9.5C9.77614 10.5 10 10.7239 10 11C10 11.2761 9.77614 11.5 9.5 11.5H6.5C6.22386 11.5 6 11.2761 6 11Z" fill="black"/%3E%3C/svg%3E');
    margin-right: 6px;
  }
  &.active {
    color: var(--color-text-emphasis);
      &::after {
      margin-left: 4px;
      content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 8" fill="none"%3E%3Ccircle cx="4" cy="4" r="4" fill="black"/%3E%3C/svg%3E');
    }
  }
}

// Dark mode content overrides

.dark-mode {
  .jetton::after {
    content: url('data:image/svg+xml,%3Csvg style="min-width: 24px" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Ccircle cx="13.5" cy="12.5" r="7" stroke="white"/%3E%3Cpath d="M6.39241 6.5C4.35958 7.7249 3 9.95367 3 12.5C3 15.0463 4.35958 17.2751 6.39241 18.5" stroke="white" stroke-linecap="round"/%3E%3C/svg%3E');
  }
  .diamond::after {
    content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M4.0026 1.3335L1.33594 5.3335L8.0026 14.6668L14.6693 5.3335L12.0026 1.3335H4.0026Z" fill="white"/%3E%3C/svg%3E');
  }
  .empty-image {
    content: url('data:image/svg+xml,%3Csvg height="32" fill="white" viewBox="-32 -32 96 96" width="32" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m30 3.4141-1.4141-1.4141-26.5859 26.5859 1.4141 1.4141 2-2h20.5859a2.0027 2.0027 0 0 0 2-2v-20.5859zm-4 22.5859h-18.5859l7.7929-7.793 2.3788 2.3787a2 2 0 0 0 2.8284 0l1.5858-1.5857 4 3.9973zm0-5.8318-2.5858-2.5859a2 2 0 0 0 -2.8284 0l-1.5858 1.5859-2.377-2.3771 9.377-9.377z"/%3E%3Cpath d="m6 22v-3l5-4.9966 1.3733 1.3733 1.4159-1.416-1.375-1.375a2 2 0 0 0 -2.8284 0l-3.5858 3.5859v-10.1716h16v-2h-16a2.002 2.002 0 0 0 -2 2v16z"/%3E%3Cpath d="m0 0h32v32h-32z" fill="none"/%3E%3C/svg%3E');
  }
  .filter-icon {
    &::before {
      content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M3.5 8C3.5 7.72386 3.72386 7.5 4 7.5H12C12.2761 7.5 12.5 7.72386 12.5 8C12.5 8.27614 12.2761 8.5 12 8.5H4C3.72386 8.5 3.5 8.27614 3.5 8Z" fill="rgb(125, 125, 125)"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1 5C1 4.72386 1.22386 4.5 1.5 4.5H14.5C14.7761 4.5 15 4.72386 15 5C15 5.27614 14.7761 5.5 14.5 5.5H1.5C1.22386 5.5 1 5.27614 1 5Z" fill="rgb(125, 125, 125)"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M6 11C6 10.7239 6.22386 10.5 6.5 10.5H9.5C9.77614 10.5 10 10.7239 10 11C10 11.2761 9.77614 11.5 9.5 11.5H6.5C6.22386 11.5 6 11.2761 6 11Z" fill="rgb(125, 125, 125)"/%3E%3C/svg%3E');
    }
    &.active::after {
      content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="10" viewBox="0 0 8 8" fill="none"%3E%3Ccircle cx="4" cy="4" r="4" fill="white"/%3E%3C/svg%3E');
    }
  }
  .filter-item.selected-filter.selected-filter::before {
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"%3E%3Ccircle cx="6" cy="6" r="6" fill="white"/%3E%3C/svg%3E')
  }
  .multi-range-slider .thumb::before {
    content: url('data:image/svg+xml,%3Csvg width="40" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M1 1L1 9" stroke="white" stroke-linecap="round"/%3E%3Cpath d="M7 1L7 9" stroke="white" stroke-linecap="round"/%3E%3Cpath d="M13 1L13 9" stroke="white" stroke-linecap="round"/%3E%3C/svg%3E');
  }  
}