@import "variables.scss";
@import "icons.scss";

$global-link-color: $color-text-muted;
$global-emphasis-color: $color-text-highlight;
$hover-color: $color-bg-hovered;

$global-background: $color-bg;
$global-primary-background: $color-bg-emphasis;
$global-muted-color: $color-text;
$text-primary-color: $color-text-emphasis;

$global-font-family: 'Roboto Mono', sans-serif;

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr"),
  url('@/assets/fonts/HelveticaNeueCyr.ttf') format("truetype");
}

@import '@vuepic/vue-datepicker/dist/main.css';

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";

@import "vue-search-select/dist/VueSearchSelect.css";

@import "override.scss";

html {
  background-color: var(--color-bg);
}

#__nuxt {
  overflow: hidden;
}

.white {
  color: var(--color-bg-emphasis) !important;
  stroke: var(--color-bg-emphasis);
  * {
    color: var(--color-bg-emphasis);
    stroke: var(--color-bg-emphasis);
  }
}

.red {
  color: rgb(255, 152, 152);
  stroke: rgb(255, 152, 152);
  * {
    color: rgb(255, 152, 152);
    stroke: rgb(255, 152, 152);
  }
}

.green {
  color: rgb(88, 218, 81);
  stroke: rgb(88, 218, 81);
  * {
    color: rgb(88, 218, 81);
    stroke: rgb(88, 218, 81);
  }
}

.hover:hover {
  background-color: var(--color-bg-hovered);
}

.hover-header:hover {
  cursor: pointer;
  color: var(--color-text-emphasis !important);
}

.hover-text:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.dropdown-text:hover .dropdown-filter {
  display: flex;
}

.dropdown-filter {
  position: absolute;
  display: none;
  top: 48px;
  width: fit-content;
  padding: 16px 0;
  flex-direction: column;
  gap: 8px;
  backface-visibility: hidden;
  background-color: var(--color-bg-emphasis);
  color: var(--color-text-default);
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
  max-height: 16rem;
  overflow-y: auto;
  .filter-item {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    &.selected-filter {
      color: var(--color-text-emphasis);
    }
    &.selected-filter::before {
      content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"%3E%3Ccircle cx="6" cy="6" r="6" fill="black"/%3E%3C/svg%3E')
    }
    &:hover {
      color: var(--color-text-emphasis);
    }
  }
}

.last-row-radius tr:last-child {
  td:first-child {
    border-bottom-left-radius: 12px;
  }
  td:last-child {
    border-bottom-right-radius: 12px;
  }
}

.search {
  width: auto !important;
}


.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.small-grid {
  display: grid;
  gap: 1rem;
  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @media screen and (min-width: 1049px) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

.metric {
  grid-column: span 1;
  grid-row: span 1;
}

.chart {
  grid-column: span 2;
  grid-row: span 2;
}

@media screen and (min-width: 1200px) {
  .interval-group {
      font-size: 16px;
      .uk-button {
        padding: 16px 24px;
        line-height: 24px;
        font-size: 16px;
      }
  }
}

@media screen and (max-width: 1199px) {
  .interval-group {
      font-size: 12px;
      .uk-button {
        padding: 4px 16px;
        line-height: 16px;
        font-size: 12px;
      }
  }
}