@import "variables.scss";
@import "icons.scss";

$global-link-color: $color-text-muted;
$global-emphasis-color: $color-text-highlight;
$hover-color: $color-bg-hovered;

$global-background: $color-bg;
$global-primary-background: $color-bg-emphasis;
$global-muted-color: $color-text;
$text-primary-color: $color-text-emphasis;

$global-font-family: 'Roboto Mono', sans-serif;

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr"),
  url('@/assets/fonts/HelveticaNeueCyr.ttf') format("truetype");
}

@import '@vuepic/vue-datepicker/dist/main.css';

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";

@import "vue-search-select/dist/VueSearchSelect.css";

@import "override.scss";

html {
  background-color: var(--color-bg);
}

#__nuxt {
  overflow: hidden;
}

.white {
  color: var(--color-bg-emphasis) !important;
  stroke: var(--color-bg-emphasis);
  * {
    color: var(--color-bg-emphasis);
    stroke: var(--color-bg-emphasis);
  }
}

.red {
  color: rgb(255, 152, 152);
  stroke: rgb(255, 152, 152);
  * {
    color: rgb(255, 152, 152);
    stroke: rgb(255, 152, 152);
  }
}

.green {
  color: rgb(88, 218, 81);
  stroke: rgb(88, 218, 81);
  * {
    color: rgb(88, 218, 81);
    stroke: rgb(88, 218, 81);
  }
}

.hover:hover {
  background-color: var(--color-bg-hovered);
}

.hover-header:hover {
  cursor: pointer;
  color: var(--color-text-emphasis !important);
}

.hover-text:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.filter-item {
  align-items: center;
  color: var(--color-text-muted);
  &.selected-filter {
    color: var(--color-text-emphasis);
  }
  &.selected-filter::before {
    margin-right: 0.5rem;
    content: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"%3E%3Ccircle cx="6" cy="6" r="6" fill="black"/%3E%3C/svg%3E')
  }
  &:hover {
    color: var(--color-text-emphasis);
  }
}

.last-row-radius tr:last-of-type {
  td:first-of-type {
    border-bottom-left-radius: 12px;
  }
  td:last-of-type {
    border-bottom-right-radius: 12px;
  }
}

.search {
  width: auto !important;
}


.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.small-grid {
  display: grid;
  gap: 1rem;
  @media screen and (max-width: 1050px) {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  @media screen and (min-width: 1049px) {
    grid-template: 1fr 1fr / 1fr 1fr;
  }
}

.metric {
  grid-column: span 1;
  grid-row: span 1;
}

.chart {
  grid-column: span 2;
  grid-row: span 2;
}

.address-tooltip {
  .title {
    color: var(--color-text-muted);;
  }
  .body {
    color: vat(--color-text-emphasis);
  }
}