@import url('https://fonts.googleapis.com/css?family=Fira Mono');

$global-link-color: #666;
$global-font-family: 'Fira Mono' , sans-serif;
$hover-color: #f3f3ff;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "uikit/src/scss/uikit-theme.scss";

@import "vue-search-select/dist/VueSearchSelect.css";

.table-header {
    div {
      text-align: left;
      vertical-align: bottom;
      font-size: 0.875rem;
      font-weight: normal;
      color: #999;
      text-transform: uppercase;
    }
}

.arrow, .white_svg {
  * {
      color: white;
      stroke: white;
      fill: white;
  }
}

.red {
  color: rgb(255, 152, 152);
  stroke: rgb(255, 152, 152);
  * {
    color: rgb(255, 152, 152);
    stroke: rgb(255, 152, 152);
  }
}

.green {
  color: rgb(88, 218, 81);
  stroke: rgb(88, 218, 81);
  * {
    color: rgb(88, 218, 81);
    stroke: rgb(88, 218, 81);
  }
}

.hover:hover {
  background-color: $hover-color;
}