$color-bg: #F7F8FC !default;
$color-bg-muted: #FAFAFA !default;
$color-bg-emphasis: white !default;
$color-bg-hovered: #f3f3ff !default;
$color-text: rgba(0,0,0,.5) !default;
$color-text-muted: rgba(0,0,0,.3) !default;
$color-text-emphasis: black !default;
$color-text-highlight: #0057FF !default;

// $color-bg: #1B1B1B;
// $color-bg-muted: rgba(255,255,255, 0.7);
// $color-bg-emphasis: #232323;
// $color-bg-hovered: #000222;
// $color-text: rgba(255,255,255,.3);
// $color-text-muted: rgba(255,255,255,.5);
// $color-text-emphasis: white;
// $color-text-highlight: #81A0FF;